<!-- Section switcher-->
<div class="row">
    <div class="col-xs-12">
        <ul class="voh-section-switcher">
            <li class="active"><a href="#download/survey"> {{ section_survey}}</a></li>
            <li ><a href="#download/country">{{ section_country }}</a></li>
        </ul>
    </div>
</div>


<!-- Selectors -->
<div class="row download-selectors">

    <!-- Indicator Container-->
    <div class="col-xs-3" data-selector="indicator">
        <div class="row">
            <div class="col-xs-12">
                  <h1> {{ selector_indicator_title }}</h1>
             </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                tree
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" >
                    <button type="button" class="btn ">{{ selector_select_none }} </button>
                    <button type="button" class="btn ">{{ selector_select_all }} </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Country Container-->
    <div class="col-xs-3" data-selector="country">
        <div class="row">
            <div class="col-xs-12">
                <h1> {{ selector_country_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                tree
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" >
                    <button type="button" class="btn ">{{ selector_select_none }} </button>
                    <button type="button" class="btn ">{{ selector_select_all }} </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Year Container-->
    <div class="col-xs-3" data-selector="year">
        <div class="row">
            <div class="col-xs-12">
                <h1> {{ selector_year_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                tree
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" >
                    <button type="button" class="btn ">{{ selector_select_none }} </button>
                    <button type="button" class="btn ">{{ selector_select_all }} </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Qualifier Container-->
    <div class="col-xs-3" data-selector="qualifier">
        <div class="row">
            <div class="col-xs-12">
                <h1> {{ selector_qualifier_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                tree
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" >
                    <button type="button" class="btn ">{{ selector_select_none }} </button>
                    <button type="button" class="btn ">{{ selector_select_all }} </button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Toolbar -->
<div class="row">
    <div class="col-xs-12 voh-vis-buttons-holder">
        <button id="table-go-btn" class="btn  btn-table-go pull-right"> {{ go_btn }}</button>
        <button id="table-reset-btn" class="btn  btn-reset pull-right"> {{ reset_btn }}</button>
    </div>
</div>

<!-- Error Holder -->
<div class="row">
    <div class="col-xs-12">
        <div class="error-holder"></div>
    </div>
</div>

<!-- Results container -->
<div class="row">
    <div class="col-xs-12">
        <div id="results-container">
            <div id="pivot1"></div>
        </div>
    </div>
</div>